<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/api/blog">Blog</a></li>
      <li><a href="/api/auth/logout" onclick="confirmLogout()">Logout</a></li>
    </ul>
  </nav>
</header>