<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <!-- Add CSS here -->
</head>
<body>
  {{> header}} 
  <main>
    {{{body}}} 
  </main>

  <footer>
    <p>&copy; 2023 Your Blog Name. All rights reserved.</p>
  </footer>
  
  <script>
    function confirmLogout() {
      const isConfirmed = confirm("Are you sure you want to logout?");
      if (isConfirmed) {
        window.location.href = "/api/auth/logout"; // Redirect to the logout route
      }
    }
  </script>
</body>
</html>

