<h2>Login</h2>
<form id="login-form">
  <input type="text" id="username-login" name="username" placeholder="Username">
  <input type="password" id="password-login" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>

<script src="/js/login.js"></script>
