<!-- blog/post.handlebars -->
{{#extend "layouts/main"}}
  {{#content "body"}}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <!-- Add more post details here -->
  {{/content}}
{{/extend}}